.w200px {
  width: 200px;
}

.shadow-primary {
  box-shadow: 0 0 10px 4px rgba(105, 6, 223, 0.3) !important;
}

.btn-block {
  width: 100% !important;
}

@media only screen and (min-width: 768px) {
  .btn-block {
    width: fit-content !important;
  }
}

.bg-primary-light {
  background-color: #f7f0ff;
}

textarea {
  resize: none;
}

@media only screen and (max-width: 480px) {
  .col-xxs-12 {
    flex: 0 0 auto;
    width: 100% !important;
  }
}

.alert-fixed {
  position: fixed;
  top: 80px;
  left: 2%;
  max-width: 80%;
  z-index: 10;
}

.nav-link {
  color: #dedede;
}

.nav-link:hover,
.nav-link.active {
  color: #fefefe !important;
}
